{% extends "layout.html" %}

{% block content %}
<section>
<h2>Computational Geometry</h2>
</section>
<section>
<p>
Using computers to perform geometric computations
</p>
<ul>
	<li>Intersection of Line Segments</li>
	<li>Convex Hull</li>
	<li>Area Of Polygons</li>
	<li>Triangulation</li>
	<li>Point Containment</li>
</ul>
</section>
<section>
<h2>How To Store a Point</h2>
<p>
I highly advise you create a <code>Point</code> class to represent a point, with perhaps an $x$ and $y$ value that are publicly
accessible. Its not "good class design" but you'll be coding in a hurry.
</p>
</section>
{% endblock %}
