{% extends "layout.html" %}

{% block content %}
<section>
<h1>Knapsack Problem</h1>
</section>
<section>
	<section>
	<h2>Problem Description</h2>
	</section>
	<section>
	<p>
	You're a thief and you break into a house. Your bag (knapsack) can only carry so much weight. Knowing the weight and
	value of every item in the house, what is the maximum value you can take back with you, without exceeding the carrying
	capacity of your bag?
	</p>
	</section>
	<section>
	<p>
	Given a set of $n$ values and weights: $v_1, v_2, \ldots$, and $w_1, w_2, \ldots$ and a maximal carrying capacity $W$,
	what's the maximum $v_{k_1} + v_{k_2} + \ldots$ such that $w_{k_1} + w_{k_2} + \ldots \le W$. In this case,
	$k_1, k_2, \ldots$ are the indices of the items we chose.
	</p>
	</section>
</section>
<section>
	<section>
	<h2>Naive Solution</h2>
	</section>
</section>
<section>
	<section>
	<h2>How to be more clever</h2>
	</section>
</section>
<section>
	<h2>Dynamic Programming</h2>
</section>
{% endblock %}
