{% extends "layout.html" %}

{% block content %}
<section>
    <section>
        <h1>Front Matter</h1>
    </section>
    <section>
        <h2>Who am I</h2>
    </section>
    <section>
        <h2>Class Format</h2>
        <ul>
            <li>No Lectures</li>
            <li>Self-guided</li>
            <li>Some Practices, Some Labs</li>
            <li><a href="http://mercerbinarybears.slack.com">Slack Room</a></li>
        </ul>
    </section>
    <section>
        <h2>A Quick Survey</h2>
        <p>
            Since I don't know some of everyone, I want to assess what you do and don't know (plus your interests)
            <a href="https://www.surveymonkey.com/s/5QSVD57">Here's the survey</a>
        </p>
    </section>
</section>
{% endblock %}
